.StarshipContainer {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left left right";
  grid-gap: 20px;                       
}

.StarshipLeft {
  width: 100%;
  grid-area: left;
}

.StarshipImage {
  position: relative;
  text-align: center;
  color: white;
}

.StarshipImageInstruction {
  position: absolute;
  bottom: 8px;
  right: 16px;
  opacity: 0.5;
}

.StarshipRight {
  grid-area: right;
  align-self: top;
  margin-top: 50px;
  width: 320px;
}

.StarshipRight table {
  width: 100%;
  font-size: 1rem;
}

.StarshipRight table tr {
    line-height: 20px;
}

.StarshipRight table tr td:nth-child(1) {
  text-align: left;
}

.StarshipRight table tr td:nth-child(2) {
  text-align: right;    
}

.StarshipRight button {
  margin-top: 50px;
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;
  background-color: royalblue;
  color: white;
}
